[defaults]
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
inventory = hosts
remote_user = ubuntu
force_color = True
#private_key_file = ~/.ssh/my_aws_ec2_private_key.pem #chmod 400  ~/.ssh/my_aws_ec2_private_key.pem
hash_behaviour=merge

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True
